<template>
  <b-list-group>
    <b-list-group-item>
      <b-row>
        <b-col>
          Вынести мусор
        </b-col>
        <b-col cols="2" align="right" style="display: flex">
          <b-form-checkbox size="lg" />
          <b-icon font-scale="2" icon="trash" />
        </b-col>
      </b-row>
    </b-list-group-item>
  </b-list-group>
</template>

<script>
// @ is an alias to /src
import {
  BListGroup,
  BListGroupItem,
  BFormCheckbox,
  BIcon,
  BRow,
  BCol,
} from "bootstrap-vue";

export default {
  components: {
    BListGroup,
    BListGroupItem,
    BFormCheckbox,
    BIcon,
    BRow,
    BCol,
  },
  data() {
    return {};
  },
};
</script>
