<template>
  <b-card no-body style="margin-top: 1vh; width: 60%; margin: 0 auto">
    <b-tabs pills fill style="margin: 10px; text-decoration: none;">
      <b-tab title="Dashboard" @click="ToDashboard" />
      <b-tab title="Create to do" @click="ToCreateToDo" />
      <b-tab title="Profile" @click="ToProfile">
      </b-tab>
    </b-tabs>
  </b-card>
</template>

<script>
import { BTabs, BTab, BCard } from "bootstrap-vue";
export default {
  components: {
    BTabs,
    BTab,
    BCard,
  },
  methods: {
    ToDashboard() {
      this.$router.push({name: 'Dashboard'})
    },
    ToCreateToDo() {
      this.$router.push({name: 'Createtodo'})
    },
    ToProfile() {
      this.$router.push({name: 'Profile'})
    }
  }
};
</script>
