<template>
  <b-form>
    <b-button>Ok</b-button>
    <b-row>
      <b-col style="display: flex">
        <b-form-group>
          <b-form-checkbox/>
        </b-form-group>
      </b-col>
    </b-row>
  </b-form>
</template>

<script>
// @ is an alias to /src
import { BForm, BFormGroup, BRow, BCol, BFormCheckbox, BButton } from 'bootstrap-vue'

export default {
  components: {
    BForm,
    BFormGroup,
    BRow,
    BCol,
    BFormCheckbox,
    BButton,
  },
  data () {
    return {
    }
  }

}
</script>
