<template>
  <b-form>
    <b-row
      style="color: white; width: 30%; margin: 0 auto; background-color: black; padding: 2%; border-radius: 3%"
    >
      <b-col>
        <p style="color: white; font-size: 3vh; text-transform: uppercase">
          Autorization
        </p>
      </b-col>
      <b-col cols="12">
        <b-form-group align="left" label="Login">
          <b-form-input type="email" v-model="userInputData.login" />
        </b-form-group>
      </b-col>
      <b-col cols="12">
        <b-form-group align="left" label="Password">
          <b-form-input type="password" v-model="userInputData.password" />
        </b-form-group>
      </b-col>
      <b-col align="left">
        <b-button variant="primary" @click="Auntificated">
          Sign in
        </b-button>
      </b-col>
        <small v-if="incorrectData" class="text-danger">You entered an incorrect email or password</small>
      <b-col align="right">
        <b-button variant="success" @click="SignUp">
          Sign up
        </b-button>
      </b-col>
    </b-row>
  </b-form>
</template>

<script>
import {
  BButton,
  BRow,
  BCol,
  BForm,
  BFormGroup,
  BFormInput,
} from "bootstrap-vue";
import axios from 'axios';

export default {
  components: {
    BButton,
    BRow,
    BCol,
    BForm,
    BFormGroup,
    BFormInput,
  },
  data () {
    return {
      userInputData: {
        login: '',
        password: '',
      },
      incorrectData: false,
    }
  },
  methods: {
    Auntificated() {
      axios.get('http://localhost:3000/users').then((response) => {
        if(Object.values(response.data).some(element => { return element.email === this.userInputData.login &&
          element.password === this.userInputData.password
        })){
          this.$store.commit('isAuntificated')
          this.$router.push({name: 'Dashboard'})
        } else {
          this.incorrectData = true
        }
      })
    },
    SignUp(){
      this.$router.push({name: 'Registration'})
    }
  },
};
</script>
