<template>
  <b-form>
    <b-row
      style="color: white; width: 30%; margin: 0 auto; background-color: black; padding: 2%; border-radius: 3%"
    >
      <b-col>
        <p style="color: white; font-size: 3vh; text-transform: uppercase">
          Registration
        </p>
      </b-col>
      <b-col cols="12">
        <b-form-group align="left" label="Name">
          <b-form-input type="text" v-model="userInputData.userName" />
        </b-form-group>
      </b-col>
      <b-col cols="12">
        <b-form-group align="left" label="Email">
          <b-form-input type="email" v-model="userInputData.email" />
        </b-form-group>
      </b-col>
      <b-col cols="12">
        <b-form-group align="left" label="Password">
          <b-form-input type="password" v-model="userInputData.password" />
        </b-form-group>
      </b-col>
      <b-col cols="12">
        <b-form-group align="left" label="Confirm Password">
          <b-form-input
            type="password"
            v-model="userInputData.confirmPassword"
          />
        </b-form-group>
        <small class="text-danger" v-if="userIsRegistered">{{
          userIsRegistered
        }}</small>
        <small class="text-success" v-if="registrationSuccess">{{
          registrationSuccess
        }}</small>
      </b-col>
      <b-col class="mt-2" align="left">
        <b-button variant="success" @click="Registration">Sign up</b-button>
      </b-col>
      <b-col class="mt-2" align="right">
        <b-button @click="SignIn" variant="primary">Sign in</b-button>
      </b-col>
    </b-row>
  </b-form>
</template>
<script>
import {
  BRow,
  BCol,
  BFormGroup,
  BFormInput,
  BForm,
  BButton,
} from "bootstrap-vue";
import axios from "axios";
export default {
  components: {
    BRow,
    BCol,
    BFormGroup,
    BFormInput,
    BForm,
    BButton,
  },
  data() {
    return {
      userInputData: {
        email: "",
        userName: "",
        password: "",
        confirmPassword: "",
      },
      userIsRegistered: "",
      registrationSuccess: "",
    };
  },
  methods: {
    Registration() {
      if (
        this.userInputData.email !== "" &&
        this.userInputData.userName !== "" &&
        this.userInputData.password !== "" &&
        this.userInputData.confirmPassword !== ""
      ) {
        axios.get("http://localhost:3000/users").then((response) => {
          if (
            Object.values(response.data).some((element) => {
              return element.email === this.userInputData.email;
            })
          ) {
            this.userIsRegistered =
              "Пользователь с таким email уже зарегистрирован";
            this.registrationSuccess = "";
          } else {
            axios
              .post("http://localhost:3000/users", this.userInputData, {
                withCredentials: true,
              })
              .then((resp) => {
                if (resp.status == 200 || resp.status == 201) {
                  this.registrationSuccess = "Регистрация прошла успешно";
                  this.userIsRegistered = "";
                  this.$router.push({ name: "Autorization" });
                }
              });
          }
        });
      }
    },
    SignIn() {
      this.$router.push({ name: "Login" });
    },
  },
};
</script>
