<template>
  <div>
     <header>
        <Navbar />
      </header>
      <section style="width:60%; margin: 0 auto">
        <slot />
      </section>
  </div>
</template>

<script>
import Navbar from '@/layout/components/Navbar.vue'

export default {
  components: {
    Navbar,
  }
};
</script>
